aenum==2.2.4
attrs==20.1.0
beautifulsoup4==4.9.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==6.6
credentials==1.1
fbchat==1.9.7
Flask==0.11.1
google-api-core==1.22.1
google-auth==1.20.1
google-cloud-core==1.4.1
google-cloud-storage==1.30.0
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
gunicorn==19.6.0
idna==2.10
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
paho-mqtt==1.5.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pymessenger==0.0.7.0
pytz==2020.1
requests==2.24.0
requests-toolbelt==0.9.1
rsa==4.6
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
Werkzeug==0.11.10
